CLIENT_ID=auction-client
CLIENT_SECRET=TuA4ztTXvD2WC74Shs4VnCLBaz3peLvV
KEYCLOAK_LOGIN=http://localhost:9098/realms/auction-realm/protocol/openid-connect/token
REALM_NAME=auction-realm
KEYCLOAK_ADMIN_URL=http://localhost:9098/auth/admin/realms
ADMIN_USERNAME=adminsmith
ADMIN_PASSWORD=adminPassword
TEST_USERNAME=testuser
TEST_PASSWORD=password
SOFIA_USERNAME=sofia.bode36
SOFIA_PASSWORD=pwd1
MEL_USERNAME=melissabray
MEL_PASSWORD=pwd2

